### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [138]:
# Dependencies and Setup
import pandas as pd

# File to Load 
csv_path = "/Users/karly/Desktop/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(csv_path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [139]:
players = len(purchase_data["SN"].unique())
total_players = pd.DataFrame({"Total Players":[players]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [140]:
# Calculate the number of unique items, average price, etc.
total_unique_items = len(purchase_data['Item ID'].unique())
average_price = purchase_data['Price'].mean()
total_purchases = purchase_data['Purchase ID'].count()
total_revenue = purchase_data['Price'].sum()

# Create summary data frame and format
summary_df = pd.DataFrame({"Number of Unique Items":[total_unique_items],
                           "Average Price":"$" + str(round(average_price,2)), 
                           "Number of Purchases": [total_purchases], 
                           "Total Revenue": "$" + str(round(total_revenue,2))})

# Display the summary data frame
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [141]:
# Group purchase_data by Gender
gender_data = purchase_data.groupby("Gender")

# Count total "SN" by gender
gender_count = gender_data.nunique()["SN"]

# Total count by gender and divide by total amount of players 
player_percent = gender_count / players * 100

# Create new data frame
gender_analysis_df = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": player_percent})


# Format df with no index 
gender_analysis_df.index.name = None

# Format the values sorted by total count in descending order, and two decimal places for the percentage
gender_analysis_df.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [142]:
# Count the total purchases by gender 
purchase_count = gender_data["Purchase ID"].count()

# Average purchase prices by gender
avg_purchase_price = gender_data["Price"].mean()

# Average purchase total by gender 
avg_purchase = gender_data["Price"].sum()

# Average purchase total by gender divivded by purchase count by unique shoppers
avg_per_person = avg_purchase/gender_count

# Create summary data frame 
gender_summary = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Total Purchase Value":avg_purchase,
                                    "Avg Total Purchase per Person": avg_per_person})

# Provide index in top left as "Gender"
gender_summary.index.name = "Gender"

# Format with currency style
gender_summary.style.format({"Average Purchase Price":"${:,.2f}",
                             "Total Purchase Value":"${:,.2f}",
                            "Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [143]:
# Establish bins for age  
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_age = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins
purchase_data["Age Group"] = pd.cut(purchase_data['Age'], bins, labels=group_age)
purchase_data.head()

#Create and group new dataframe by Age Group
age_grouped = purchase_data.groupby("Age Group")

# Count total players by age
total_age_count = age_grouped["SN"].nunique()

# Calculate percentages by age category 
percentage_by_age = (total_age_count/players) * 100

# Create summary data frame
summary_age = pd.DataFrame({f"Total Count": total_age_count, "Percentage of Players": (percentage_by_age)})

# Format the data frame so no index is shown
summary_age.index.name = None

# Format percent column
summary_age.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [144]:
# Count purchases by age group
purchase_count_age = age_grouped["Purchase ID"].count()

# Obtain average purchase price by age group 
avg_purchase_price_age = age_grouped["Price"].mean()

# Calculate total purchase value by age group 
total_purchase_value = age_grouped["Price"].sum()

# Calculate the average purchase per person in the age group 
avg_purchase_per_person_age = total_purchase_value/total_count_age

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

# Format the data frame with no index name in the corner
age_demographics.index.name = None

# Format with currency style
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [145]:
# Group purchase data by screen names
spender_data = purchase_data.groupby('SN')

# Count the total purchases by name
purchase_count_spender = spender_data["Purchase ID"].count()

# Calculate the average purchase by name 
avg_purchase_price_spender = spender_data["Price"].mean()

# Calculate purchase total 
purchase_total_spender = spender_data["Price"].sum()

# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort in descending order to obtain top 5 spender names 
format_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
format_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                              "Average Purchase Price":"${:,.2f}", 
                              "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [146]:
# Create new data frame for items
items = purchase_data[['Item ID', 'Item Name', 'Price']]

# Group the items by Item ID and Item Name
item_data = items.groupby(['Item ID','Item Name'])

# Count purchases per item
purchase_count= item_data['Price'].count()

# Calcualte total purchase value
total_purchase_value = (item_data['Price'].sum()) 

# Find each item price
item_price = purchase_value/purchase_count

# Create summary data frame
popular_items = pd.DataFrame({"Purchase Count": purchase_count, 
                              "Item Price": item_price,
                              "Total Purchase Value":total_purchase_value})

# Sort the purchase count column in descending order
popular_format = popular_items.sort_values(['Purchase Count'], ascending=False).head()

# Format displayed data
popular_format.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [147]:
# Sort the above table by total purchase value in descending order
popular_format = popular_items.sort_values(["Total Purchase Value"], ascending=False).head()

# Format displayed data
popular_format.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})